body{
    background-color: rgb(235, 245, 241);
    font-family: Arial, Helvetica, sans-serif;
}
.head{
    text-align: center;
    color: rgb(0, 76, 255);
    font-size: 55px;
}
.container{
    width: 40%;
    background-color: rgb(255, 255, 255);
    margin-left: 28%;
    border-radius: 7px;
    box-shadow: rgb(16, 12, 12) 0px 5px 5px;
    padding: 10px;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
    font-size: 13px;
    color: rgb(112, 113, 114);
}
h5{
    font-size: 15px;
    color: black;
}
input{
    width: 30;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid rgb(231, 238, 238);
    margin-top: 15px;

}
label{
    width: 50;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(231, 238, 238);
    gap: 15px;
    margin-bottom: 10px;
}
select{
    width: 50;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(231, 238, 238);
}
h4{
    text-align: center;
    color: rgb(6, 101, 245);
}
button{
    background-color: green;
    color: azure;
    margin-left: 40%;
}